<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="vendor/autoload.php"
    colors="true"
    cacheDirectory=".cache/phpunit"
>
    <testsuites>
        <testsuite name="PHP Tasks">
            <directory suffix="Test.php">absoluteValuesSumMinimization/php</directory>
            <directory suffix="Test.php">addBorder/php</directory>
            <directory suffix="Test.php">allLongestStrings/php</directory>
            <directory suffix="Test.php">almostIncreasingSequence/php</directory>
            <directory suffix="Test.php">alphabeticShift/php</directory>
            <directory suffix="Test.php">alternatingSums/php</directory>
            <directory suffix="Test.php">areEquallyStrong/php</directory>
            <directory suffix="Test.php">areSimilar/php</directory>
            <directory suffix="Test.php">arrayChange/php</directory>
            <directory suffix="Test.php">arrayMaxConsecutiveSum/php</directory>
            <directory suffix="Test.php">arrayMaximalAdjacentDifference/php</directory>
            <directory suffix="Test.php">arrayReplace/php</directory>
            <directory suffix="Test.php">bishopAndPawn/php</directory>
            <directory suffix="Test.php">binarySearch/php</directory>
            <directory suffix="Test.php">boxBlur/php</directory>
            <directory suffix="Test.php">buildPalindrome/php</directory>
            <directory suffix="Test.php">centuryFromYear/php</directory>
            <directory suffix="Test.php">checkPalindrome/php</directory>
            <directory suffix="Test.php">cidrContains/php</directory>
            <directory suffix="Test.php">chessBoardCellColor/php</directory>
            <directory suffix="Test.php">circleOfNumbers/php</directory>
            <directory suffix="Test.php">commonCharacterCount/php</directory>
            <directory suffix="Test.php">countLessThanMatrix/php</directory>
            <directory suffix="Test.php">dedupePreserveOrder/php</directory>
            <directory suffix="Test.php">deepMerge/php</directory>
            <directory suffix="Test.php">depositProfit/php</directory>
            <directory suffix="Test.php">differentSymbolsNaive/php</directory>
            <directory suffix="Test.php">electionsWinners/php</directory>
            <directory suffix="Test.php">evenDigitsOnly/php</directory>
            <directory suffix="Test.php">fileNaming/php</directory>
            <directory suffix="Test.php">findEmailDomain/php</directory>
            <directory suffix="Test.php">firstDigit/php</directory>
            <directory suffix="Test.php">formatBytes/php</directory>
            <directory suffix="Test.php">growingPlant/php</directory>
            <directory suffix="Test.php">intersectStrings/php</directory>
            <directory suffix="Test.php">isBeautifulString/php</directory>
            <directory suffix="Test.php">isDigit/php</directory>
            <directory suffix="Test.php">isIPv4Address/php</directory>
            <directory suffix="Test.php">isLucky/php</directory>
            <directory suffix="Test.php">isMAC48Address/php</directory>
            <directory suffix="Test.php">knapsackLight/php</directory>
            <directory suffix="Test.php">lineEncoding/php</directory>
            <directory suffix="Test.php">longestCommonSuffix/php</directory>
            <directory suffix="Test.php">longestDigitsPrefix/php</directory>
            <directory suffix="Test.php">longestWord/php</directory>
            <directory suffix="Test.php">makeArrayConsecutive/php</directory>
            <directory suffix="Test.php">matrixElementsSum/php</directory>
            <directory suffix="Test.php">mergeNSortedArrays/php</directory>
            <directory suffix="Test.php">mergeSortedArrays/php</directory>
            <directory suffix="Test.php">messageFromBinaryCode/php</directory>
            <directory suffix="Test.php">pairingCharsRecursively/php</directory>
            <directory suffix="Test.php">palindromeRearranging/php</directory>
            <directory suffix="Test.php">parseQueryString/php</directory>
            <directory suffix="Test.php">phpDocTransform/php</directory>
            <directory suffix="Test.php">removeCommonElements/php</directory>
            <directory suffix="Test.php">reverseInParantheses/php</directory>
            <directory suffix="Test.php">reverseInGroups/php</directory>
            <directory suffix="Test.php">secondaryDiagonalMinMax/php</directory>
            <directory suffix="Test.php">shapeArea/php</directory>
            <directory suffix="Test.php">sortByHeight/php</directory>
            <directory suffix="Test.php">slugifyTitle/php</directory>
            <directory suffix="Test.php">stringsRearrangement/php</directory>
            <directory suffix="Test.php">sumUpNumbers/php</directory>
            <directory suffix="Test.php">toeplitzMatrix/php</directory>
            <directory suffix="Test.php">validTime/php</directory>
            <directory suffix="Test.php">variableName/php</directory>
        </testsuite>
    </testsuites>
</phpunit>
